<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321928013067-mdfg8fdvr973vo995romcggsm1g2korh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321928013067-mdfg8fdvr973vo995romcggsm1g2korh</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ws6mAHldz0t6zV8H6QFhI8odtlbR2gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321928013067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mudaFacil</string>
	<key>PROJECT_ID</key>
	<string>muda-facil</string>
	<key>STORAGE_BUCKET</key>
	<string>muda-facil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321928013067:ios:c20270c098de55232fee0e</string>
</dict>
</plist>